.rectangle {
  background-image: url(../../../static/img/rectangle-1.svg);
  background-size: 100% 100%;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 294px;
  position: relative;
  width: 498px;
}

.rectangle .overlap-group {
  height: 52px;
  left: 203px;
  position: absolute;
  top: 218px;
  width: 91px;
}

.rectangle .img {
  height: 45px;
  left: 0;
  mix-blend-mode: luminosity;
  position: absolute;
  top: 0;
  width: 91px;
}

.rectangle .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
}

.rectangle .overlap {
  background-color: #ffffff;
  border-radius: 5px;
  height: 40px;
  left: 57px;
  position: absolute;
  top: 75px;
  width: 383px;
}

.rectangle .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 342px;
}

.rectangle .overlap-2 {
  height: 49px;
  left: 57px;
  position: absolute;
  top: 147px;
  width: 383px;
}

.rectangle .div-2 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 383px;
}

.rectangle .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 342px;
}
