.home {
  background-color: #ffffff0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #ffffff0d;
  height: 1024px;
  width: 1440px;
}

.home .overlap-3 {
  background-color: #292929;
  height: 1024px;
  position: relative;
}

.home .rectangle-1 {
  left: 471px !important;
  position: absolute !important;
  top: 365px !important;
}

.home .text-wrapper-3 {
  color: #b7b7b7;
  font-family: "Inter", Helvetica;
  font-size: 184px;
  font-weight: 700;
  left: 359px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
  width: 739px;
}
